/* common css */
.custom-section {
    padding: 65px 0;
}

.custom-container {
    width: 75%;
    margin: 0 auto;
}

body {
    font-family: 'ABeeZee';
    background-color: #FFFBF2;
}

.common-btn {
    background: #DFB660;
    color: #323A42 !important;
    font-size: 22px;
    font-weight: 400;
    font-family: 'ABeeZee', sans-serif;
    text-transform: uppercase;
    padding: 22px 50px;
    border-radius: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
ul{
    padding: 0px;
}

/* nevbar start */
.navbar .container-fluid {
    width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    inset: 0px;
}
.sticky{
    position: fixed;
    top: 0px;
    z-index: 9;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    animation-name: slideInDown;
    animation-duration: 1s;
    background: #fff;
    height: 11%;
}
.navbar {
    padding: 0px !important;
    z-index: 99;
}

.nav .nav-item a {
    color: #323A42 !important;
    padding: 40px 25px;
}

.nav .nav-item a:hover,
.nav .nav-item a:focus {
    color: #DFB660 !important;
}
.nav .nav-item.dropdown ul li a{
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}
/* nevbar-end */


/* banner-start */
.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.custom-section.banner {
    padding: 0px;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item a,
.breadcrumb-item.active {
    color: #323A42;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    width: 75%;
    margin: 0 auto;
}

.banner-text h1 {
    font-family: 'Alegreya';
    font-size: 60px;
    font-weight: 501;
    margin-bottom: 20px;
}

/* banner-end */


/* producr-item-start */
.producr-item .col-md-6{
    width: 50%;
}
.producr-item img{
    width: 100%;
} 
.img-box{
    position: relative;
    margin-bottom: 24px;
}
.producr-item h3{
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
}
.producr-item h4{
    font-size: 26px;
    color: #DFB660;
    margin-bottom: 0px;
}
.producr-item .inner-box{
    margin-bottom: 21px;
}
.producr-item .lable-box span{
    color: #fff;
    background-color: #DFB660;
    font-size: 16px;
    position: absolute;
    top: 10px;
    z-index: 1;
    padding: 10px;
}
.producr-item .inner-box .img-box .hover-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transform: scale(0) translatey(-50%);
    margin: 0 auto;
    opacity: 0;
    transition: all .8s;
}
.producr-item .inner-box .img-box:hover .hover-box{
    transform: scale(1) translateY(-50%);
    opacity: 1;
}
.producr-item .inner-box .img-box:hover .lable-box{
    display: none;
}
.producr-item .inner-box .img-box .hover-box .buy{
    position: absolute;
    left: 10px;
    bottom: 0px;
}
.producr-item .inner-box .img-box .hover-box .buy ul li a{
    color: #DFB660;
    font-size: 18px;
    border: 1px solid #DFB660;
    padding: 10px;    
}
.buy ul li{
    margin-bottom: 25px;
}
i.fa.fa-heart-o{
    margin-right: 2px;
}
.buy ul li span{
    display: none;
}
.producr-item .inner-box .img-box .hover-box .buy ul li a:hover span{
    display: inline-block;
}


/* producr-item-end */

/* subscribe-section-start */

.subscribe h2 {
    font-size: 54px;
    color: #414141;
    text-align: center;
    margin-bottom: 62px;
    font-family: 'Alegreya';
}

.subscribe .from {
    width: 65%;
    margin: 0 auto;
    position: relative;
}

.subscribe .from .from-input {
    width: 86%;
    height: 100px;
    border: 4px solid #DFB660;
    font-size: 24px;
    background: transparent;
    padding: 6px 12px;
}

.subscribe .from button {
    color: #323A42;
    font-size: 22px;
    padding: 34px 50px 33px 50px;
    background-color: #DFB660;
    border: 0px;
    position: absolute;

}

/* subscribe-section-end */


/* footer-section-start */
.footer{
    background-color: #ede8df;
    font-size: 18px;
}
.footer-logo img:hover{
    padding-left:5px;
    transition-duration: .3s;
}
.footer .footer-email img{
    position: absolute;
    top: 22px;
    left: 0px;
}
.footer .col-md-3{
    padding: 0px;
}
.footer .col-md-3:nth-child(1){
    width: 24%;
}
.footer .col-md-3:nth-child(2){
    width: 42%;
}
.footer .col-md-3:nth-child(3){
    width: 18%;
}
.footer .col-md-3:nth-child(4){
    width: 16%;
}
.footer-email{
    position: relative;
}
.footer-email ul li{
    position: relative;
    padding: 20px 0px 20px 50px;
}
.footer-email ul li a{
    color: #000000;
}
.footer-email ul li a:hover{
    transition-duration: .3s;
    color: #DFB660;
}
.footer-menu ul li{
    line-height: 34px;
}
.footer-menu ul li a{
    color: #000000;
}
.footer-menu ul li a:hover{
    padding-left: 5px;
    transition-duration: .3s;
    color: #DFB660;
}
.footer-stay-connect ul li{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #DFB660;
    border: 2px solid #DFB660;
    text-align: center;
    padding: 14px 0px;
}
.footer-stay-connect ul li:hover{
    opacity: .6;
    background-color: transparent;
}
/* footer-section-end */

/* rights-section-start */
.rights {
    background-color: #414141;
    color:#fff;
    padding: 0px;
    height: 60px;
}
.rights .part{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.rights .part .right span:hover{
    color: #DFB660;
}
/* rights-section-end */